* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
  }
  body {
    min-height: 100vh;
    align-items: center;
    justify-content: center;
    display: flex;
    background: #000;
}
  
  html {
    font-size: 62.5%;
  }
  h2{
    font-weight: 900;
    font-size: 4em;
    margin: 20px 0 0;
    position: relative;
    color: #fff;
    z-index: 1;
    overflow: hidden;
  }
  h2 span{
    color: #ff022c;
  }
  h2:before{
    content: '';
    position: absolute;
    left:120%;
    width: 120%;
    height: 100%;
    background: linear-gradient(90deg, transparent 0%, #000 5%, #000 100%);
    animation: animate 5.5s linear forwards;
    animation-delay: 2s;
  }
  @keyframes animate{
    0%{
        left: 110%;
    }
    100%{
        left: -20%;
    }
  }
  
  video{
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 2;
    pointer-events: none;
    mix-blend-mode: screen;
  }

  
  .center-div {
    width: 10rem;
    height: 10rem;
    background-color: #ee5253;
    position: relative;
    transform: rotate(45deg);
    box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
      0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06),
      0 22.3px 17.9px rgba(0, 0, 0, 0.072);
    animation: hbeat 1s linear infinite;
  }
  
  .center-div::before {
    content: "";
    width: 100%;
    height: 100%;
    background-color: #ee5253;
    position: absolute;
    border-radius: 50%;
    transform: translateY(-50%);
  }
  .center-div::after {
    content: "";
    width: 100%;
    height: 100%;
    background-color: #ee5253;
    position: absolute;
    border-radius: 50%;
    transform: translateX(-50%);
  }
  
  @keyframes hbeat {
    0% {
      transform: rotate(45deg) scale(1);
    }
    20% {
      transform: rotate(45deg) scale(1);
    }
    40% {
      transform: rotate(45deg) scale(1.4);
    }
    60% {
      transform: rotate(45deg) scale(1.2);
    }
    80% {
      transform: rotate(45deg) scale(1.4);
    }
    100% {
      transform: rotate(45deg) scale(1);
    }
  }